@import 'jeet'
@import 'nib'

@import '../../../node_modules/purecss/build/base.css'
@import '../../../node_modules/purecss/build/menus.css'
@import '../../../node_modules/purecss/build/buttons.css'
@import '../../../node_modules/purecss/build/forms.css'

.app-bar-buttons-group > *
  margin-right  5px

.app-bar-language-icon > *
  color  white
  margin-top 5px
